.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.form-wrapper {
  margin-right: 100px; /* Adjust the margin-right value to move the image closer or further away */
}

.form-container {
  width: 300px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-image {
  width: 400px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background: #724E2C;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background: #33200e;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.signup-text {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.signup-link {
  color: #724E2C;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
