.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 300px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  padding-top: 15px;
  margin-right: 100px; /* Add margin to create spacing between image and form */
}

.signup-image {
  width: 400px; /* Adjust the width of the image as needed */
}

/* Rest of the CSS remains the same */
.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background: #724E2C;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background: #33200e;
}

.form-group {
  display: flex;
  gap: 10px;
}

.login-link-text {
  color: #724E2C;
  text-decoration: none;
}

.error-list {
  color: red;
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.signup-button {
  margin-bottom: 10px; /* Add margin between the buttons */
}

.form-input-group {
  display: flex;
  gap: 10px;
}
