.navbar {
  display: flex;
  flex-direction: row; 
  align-items: center;
  background-color: transparent;
  padding: 5px;
  width: 100%;
  box-shadow: none;
  z-index: 6;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 15px;
}

.search-bar {
  flex-grow: 1;
  margin: 0 20px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.github-link,
.linkedin-link {
  margin-left: 15px;
}

.github-link a,
.linkedin-link a {
  color: #000000;
  text-decoration: none;
}

.github-link a:hover,
.linkedin-link a:hover {
  text-decoration: underline;
}

.nav-right {
  margin-left: auto;
}

.login {
  margin-right: 10px;
  background-color: transparent;
  border: 3px solid white;
  padding: 8px 19px;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login:hover {
  background-color: #888888;
}

.signup {
  margin-right: 10px;
  background-color: #724E2C;
  border: none;
  padding: 8px 19px;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.signup:hover {
  background-color: #33200e;
}

.home-icon {
  width: 125px; 
  height: auto; 
}

.github-link a img,
.linkedin-link a img {
  width: 26px; 
  height: 26px; 
}

.carousel-container {
  margin-top: 1px;
  z-index: 5; 
}
.navigation-container {
  position: relative;
}

.carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.button-text {
  color: #ffffff; 
  font-size: 60px;
  margin-bottom: 10px;
  padding: 5px; 
  font-weight: 800; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.button-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-top: 350px;
  margin-left: 100px; 

}

.cafes {
  margin-top: 10px;
  background-color: #724E2C;
  border: none;
  padding: 12px 22px;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

.cafes:hover {
  background-color: #33200e;
}